div.AboutContainer {
    background-color: #668487;
    padding-top: 90px;
    height: calc(100vh + 75px);
    width: 100%;
}

div.AboutContainer h1 {
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Rubik Mono One", "sans-serif";
    width: 100%;
    height: fit-content;
}

div.AboutSection {
    display: flex;
    flex-wrap: wrap;
}
div.AboutContainer div.AboutLeft {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.AboutLeft img {
    aspect-ratio: 16 / 9;
    max-width: 20vw;
    height: 40vh;
    border-radius: 5px;
}

div.AboutContainer div.AboutRight {
    max-width: 50%;
    inline-size: 100%;
    font-family: "Open sans", 'sans-serif';
    font-size: 16px;
    overflow-wrap: normal;
}

div.AboutContainer p {
    font-family: "Open sans", 'sans-serif';
    text-indent: 2rem;
}

div.AboutContainer b {
    font-size: 17px;
    color: #fff;
}

div.AboutContainer span.AboutProjects p {
    text-indent: 2rem;
}

div.AboutContainer span li {
    text-indent: 2rem;
    padding: 5px 20px 10px 20px;
}