div.ExperienceAnchor {
    position: absolute;
    content: "";
    visibility: visible;
    top: -74px;
}

h1 {
    font-family: var(--rubik), "sans-serif";
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Professional Experiences */
div.ExperienceContainer {
    color: #f1f1f1;
    position: relative;
    background-color: var(--project-bg);
    width: 100%;
    padding-bottom: 35px;
}

div.ExperienceContainer h1 {
    background-color: var(--projects-bg);
}

.swiper {
    width: 70%;
    height: 70vh;
    min-height: 495px;
    color: #fff;
    border-radius: 10px;
    position: relative;
}

img.swiper-slide {
    display: block;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    object-fit: cover;
}

.swiper-slide {
    text-align: center;
    background: linear-gradient(90deg, #393c41, #151617, black, #060707, #393c41);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
}

.swiper-button-next,
.swiper-button-prev {
    right: 50%;
    transform-origin: left center;
    opacity: 75%;
    color: #fff;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-container {
    width: 88%;
    height: 90%;
    color: #fff;
    outline: #242628;
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: center;
    margin: auto;
}

.swiper-title-container {
    max-width: 35%;
    width: fit-content;
    font-family: var(--rubik), 'sans-serif';
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.swiper-icon {
    display: inline-flex;
    aspect-ratio: 1/1;
    width: 25%;
    opacity: 100%;
}

.swiper-title {
    display: inline-flex;
    font-size: clamp(30px, 4vw, 60px);
    height: 75%;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

div.swiper-content {
    width: 55%;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 22px;
    letter-spacing: 2px;
}

.swiper-subtitle {
    font-size: clamp(20px, 1.7vw, 45px);
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

div.swiper-divider {
    margin-right: 45px;
    content: "";
    border: 2px solid #fff;
    height: 70%;
    width: 2px;
}

.swiper-context {
    font-size: clamp(12px, 1.1vw, 16px);
    color: #fff;
    padding-top: 2.5vh;
}

.swiper-content b {
    font-family: var(--rubik);
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 1300px) {
    div.swiper-content {
        width: 50%;
    }

    div.swiper-context {
        line-height: 13px;
    }
}

@media screen and (max-width: 700px) {
    div.ExperienceContent h1 {
        font-size: 40px;
    }

    .swiper-slide {
        background: linear-gradient(90deg, #26272b, #101011, black, #101011, #26272b);
    }

    div.swiper {
        height: 50vh;
    }

    .swiper-container {
        flex-direction: column;
        padding: 0 0 30px;
        justify-content: center;
    }

    .swiper-icon {
        height: 45px;
        width: 45px;
    }

    .swiper-title-container {
        height: fit-content;
    }

    span.swiper-title {
        font-size: 40px;
        line-height: 40px;
    }

    div.swiper-divider {
        width: 80%;
        height: 1px;
        margin: 5px 0;
        justify-content: flex-start;
    }

    div.swiper-content {
        width: 83%;
        height: fit-content;
    }

    .swiper-subtitle {
        font-size: 15px;
    }

    .swiper-context {
        padding-top: 1.5vh;
        font-size: 9px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 350px) {
    .swiper {
        width: 90%;
    }
    span.swiper-title {
        font-size: 25px;
    }

    .swiper-subtitle {
        font-size: 13px;
    }

    .swiper-context {
        padding-top: 1.5vh;
        font-size: 8px;
    }
}