@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Righteous&display=swap');

.HomeContainer {
    height: calc(100vh);
    width: 100%;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}

a {
    scroll-behavior: smooth;
}

.HomeBackground {
    height: calc(100vh - 75px);
    width: 100%;
    position: absolute;
    top:75;
    background-image: url('../../public/background.jpg');
    background-color: #668487;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

.HomeBackgroundOverlay {
    height: calc(100vh - 75px);
    width: 100%;
    position: absolute;
    top: 75;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.HomeContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

img.HomeImage {
    margin-top: 40px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

h1.HomeName {
    /* font-family: 'Permanent Marker', sans-serif; */
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 10vw;
    font-weight: 100px;
    height: 20%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.8;
    text-align: center;
    color: white;
}

h1.HomeList {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 2vw;
}

.HomeLM a {
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1.2px;
    padding: 10px 20px;
    border: 3px solid rgb(84, 151, 212);
    border-radius: 10px;
    text-decoration: none;
}

.HomeLM a:hover {
    background-color: #949ba0;
    color: black;
}