div.HomeContainer {
    width: 100vw;
    padding-top: 50px;
    color: #1c1c1c;
    background-color: #f1f1f1;
}

a {
    scroll-behavior: smooth;
}

div.HomeBody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.HomeNameContainer {
    width: 40%;
    margin-top: 1%;
    padding-top: 35px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
}

h1.HomeName,
h1.HomeName span {
    font-weight: 400;
    font-family: var(--rubik-mono);
    letter-spacing: -0.14px;
    margin: 0;
    color: black;
    text-align: left;
}

div.HomeWContainer {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 5px;
}

span.spacing {
    padding: 0 7.5px 0 7.5px;
}

h1.HomeIntro {
    padding: 0 0 0 15px;
    line-height: 1.5vw;
}

h1.HomeIntro span {
    display: inline-block;
    color: black;
    font-weight: 400;
    font-family: var(--rubik-mono);
    font-size: 2.5vw;
}

h1.HomeWelcome {
    color: black;
    line-height: 1.5vw;
    padding: 0;
}

h1.HomeWelcome span {
    display: inline-block;
    font-family: var(--rubik-mono);
    font-weight: 400;
    font-size: 2.5vw;
    padding: 0;
}

h1.HomeName {
    font-size: 3.5vw;
    line-height: 3.8vw;
    padding: 0;
}

h1.HomeName span {
    display: inline-block;
}

h1.HomeName span:nth-child(7) {
    padding-right: 3%;
}

div.HomeNameContainer div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

img.HomeImage {
    margin-top: 1.5%;
    aspect-ratio: 1;
    height: 22vw;
    width: 22vw;
    border-radius: 10px;
    box-shadow: -5px 5px 20px 0.5px #a6bea6, 0px 0px 10px 0px #adc7ad;
    border: 1px solid white;
}

div.HomeContent {
    width: 35%;
    margin-right: auto;
    margin-top: 1%;
    padding-top: calc(55px + 100vw * 0.0125);
    height: fit-content;
}

h2,
h3,
p {
    font-family: var(--rubik);
}

div.HomeContent h2 {
    text-transform: uppercase;
    font-size: 2.25vw;
    line-height: 2.0vw;
    font-weight: 500;
}

div.HomeContent h3 {
    text-transform: capitalize;
    font-size: 1vw;
    line-height: 1vw;
    font-weight: 500;
    padding-bottom: 17.5px;
}

div.HomeContent p {
    font-size: min(1.2vw, 7.5em);
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

div.HomeContent p b {
    font-family: var(--rubik);
    font-size: min(1.2vw, 7.5em);
    font-weight: 500;
    text-transform: capitalize;
}

p > li {
    padding-left: 2.5%;
}

div.HomeContent p:nth-child(5) {
    padding-bottom: 5px;
}

img.NavIcon {
    max-height: 25px;
    max-width: 25px;
}

ul.HomeIconList {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 14px;
    transform: scale(1);
}

.HomeIconList li.NavLItem:nth-child(4) {
    position: relative;
}

.email:hover {
    cursor: pointer;
}

.HomeIconList li.NavLItem:nth-child(4)::after {
    position: absolute;
    top: -20px;
    left: -20px;
    content: "copied email";
    height: fit-content;
    width: 65px;
    font-family: var(--rubik);
    font-size: 10px;
    background-color: #767976;
    opacity: 0.0;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: ease-in-out 250ms;
}

.HomeIconList li.NavLItem:nth-child(4).clicked::after {
    opacity: 0.9;
}

/* Recent Projects */
div.HomeProjects {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

div.HomeProjects h2 {
    padding-left: 12%;
    padding-bottom: 10px;
    font-size: 2.25vw;
    font-weight: 500;
}

div.HomeSkillsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    width: 82%;
    margin: auto;
}

div.HomeSkills {
    width: 23%;
    display: flex;
    flex-direction: column;
    min-width: 153px;
}

div.HomeSkills-bg {
    margin-bottom: 15px;
}

div.HomeSkills-bg a {
    display: block;
    width: 100%;
    height: auto;
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #a6bea6, 0px 0px 5px 1px #adc7ad;
}

div.HomeSkills-bg img {
    width: 100%;
    border-radius: 10px;
}

div.HomeSkills-stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 10px;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
}

div.HomeStackElement {
    text-align: center;
    background-color: #a6bea6;
    font-family: var(--rubik);
    /* line-height: 25px; */
    font-size: clamp(5px, 1.1vw, 17px);
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    div.HomeNameContainer {
        width: 100%;
        justify-content: center;
        padding: 0;
        margin-top: 10px;
    }

    div.HomeNameContainer div {
        justify-content: center;
    }

    h1.HomeWelcome span, h1.HomeIntro span {
        font-size: 23px;
        line-height: 40px;
    }

    h1.HomeIntro {
        padding-left: 0;
    }

    h1.HomeName {
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    img.HomeImage {
        margin: 20px 0 5px;
        height: 200px;
        width: 200px;
    }

    div.HomeContent {
        padding-top: 0px;
        padding-left: 14%;
        margin-top: 20px;
        width: 86%;
    }

    div.HomeContent h2 {
        font-size: 18px;
        line-height: 20px;
    }

    div.HomeContent h3 {
        font-size: 10px;
        padding-bottom: 14px;
    }

    div.HomeContent p {
        padding-bottom: 14px;
    }

    div.HomeContent p, div.HomeContent p b {
        font-size: 10px;
        letter-spacing: 0.19em;
    }

    img.NavIcon {
        height: 20px;
        width: 20px;
    }

    div.HomeProjects {
        font-size: 13px;
        padding-left: 0px;
    }

    div.HomeProjects h2 {
        padding-left: 14%;
    }

    div.HomeSkillsContainer {
        gap: 15px;
    }

    div.HomeSkills {
        padding-bottom: 10px;
    }

    .HomeSkills-stack div.HomeStackElement {
        font-size: 8px;
    }
}