
* {
    box-sizing: border-box;
    margin: 0px;
}

.HomeContainer {
    height: fit-content;
    width: 100vw;
    padding-top: 50px;
    background-color: #ffffff;
    color: black;
}

a {
    scroll-behavior: smooth;
}

.HomeBody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.HomeNameContainer {
    margin-top: 30px;
    padding-top: 35px;
    padding-left: 83px; 
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 100px;
    height: fit-content;
    color: black;
}

h1.HomeWelcome, h1.HomeName, h1.HomeName span {
    font-weight: 400;
    font-family: var(--rubik-mono);
    letter-spacing: -0.14px;
    margin: 0;
    color: black;
    text-align: left;
}

h1.HomeWelcome {
    font-size: 2vw;
    line-height: 1.7vw;
    padding: 0;
    /* 40 */
}

h1.HomeName {
    font-size: 4.5vw;
    line-height: 3.8vw;
    padding: 0;
}

h1.HomeName span {
    padding-left: 15px;
}

div.HomeNameContainer div {
    display: flex;
    justify-content: center;
    width: 100%;
}

img.HomeImage {
    margin-top: 3.5%;
    aspect-ratio: 1;
    height: 23vw;
    /* 350 */
    width: 23vw;
    border-radius: 10px;
    box-shadow: -5px 5px 20px 0.5px #a6bea6, 0px 0px 10px 0px #adc7ad;
    border: 1px solid white;
}

div.HomeContent {
    width: 45%;
    color: black;
    padding-left: 70px;
    margin-top: 30px;
    padding-top: calc(45px + 100vw * 0.01);
    height: fit-content;
}

h2, h3, p {
    color:black;
    font-family: var(--rubik);
}

div.HomeContent h2 {
    text-transform: uppercase;
    font-size: 2.25vw;
    line-height: 2.0vw;
    font-weight: 500;
}

div.HomeContent h3 {
    text-transform: capitalize;
    font-size: 1vw;
    line-height: 1vw;
    font-weight: 500;
    padding-bottom: 17.5px;
}

div.HomeContent p {
    font-size: min(1.2vw, 7.5em);
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

div.HomeContent p b {
    font-family: var(--rubik);
    font-size: min(1.2vw, 7.5em);
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}

#last {
    padding-bottom: 3px;
}

img.NavIcon {
    max-height: 25px;
    max-width: 25px;
}

ul.HomeIconList{
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 14px;
    transform: scale(1);
}

.HomeIconList li.NavLItem:nth-child(4) {
    position: relative;
}

.email:hover {
    cursor: pointer;
}

.HomeIconList li.NavLItem:nth-child(4)::after {
    position: absolute;
    top: -20px;
    left: -20px;
    content: "copied email";
    height: fit-content;
    width: 65px;
    font-family: var(--rubik);
    font-size: 10px;
    background-color: #767976;
    opacity: 0.0;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: ease-in-out 250ms;
}

.HomeIconList li.NavLItem:nth-child(4).clicked::after {
    opacity: 0.9;
}

/* Recent Projects */
div.HomeProjects {
    margin-top: 10px;
    color: black;
    width: 100%;
}

div.HomeProjects h2 {
    padding-left: 10%;
    padding-bottom: 10px;
}

div.HomeSkillsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 35vh;
    width: 100%;
    margin-bottom: 15px;
}

div.HomeSkillsContainer div.HomeSkills {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.HomeSkills-bg {
    border: 1px white solid;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px 1px #a6bea6, 0px 0px 5px 1px #adc7ad;
}

div.HomeSkills-bg img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

div.HomeSkills-stack {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(3, 1fr);
    grid-column: 10px;
    width: 100%;
}

div.HomeSkillsContainer div div.HomeStackElement {
    width: 5.5em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #a6bea6;
    font-family: var(--rubik);
    line-height: 25px;
    max-height: 25px;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
}