/* Personal Projects */
div.PersonalContainer {
  color: #1c1c1c;
  background-color: #f1f1f1;
  height: 1240px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

div.PersonalContainer.show {
  height: fit-content;
}

div.More {
  background: linear-gradient(#f1f1f1,#f1f1f1, #f1f1f1, rgb(204, 204, 204));
  width: 100%;
  text-align: center;
  font-family: var(--rubik);
  text-transform: uppercase;
}

div.More.show {
  transform: rotate(180deg);
  background: #fff;
}

div.More img {
  width: 50px;
  height: 40px;
  color: #a6bea6;
  opacity: 0.7;
}

div.More img:hover {
  cursor: pointer;
}

#Projects {
  position: absolute;
  top: -75px;
}

div.Project-title h1 {
  position: absolute;
  color: #a6bea6;
  top: 150px;
  left: -130px;
  height: fit-content;
  width: fit-content;
  transform: rotate(-90deg);
  margin-top: 0;
  opacity: 1;
}

.Project-title h1.bottom {
  top: 1000px;
  left:-130px;
}

div h1.bottom.show {
  top: 1520px;
}

div.Project-title h1.is-sticky {
  position: fixed;
  top: 220px;
  left: -130px;
  opacity: 1;
  animation: all 600ms ease-in-out 0s normal none 1 running;
  z-index: 10;
}

div.Project-title div {
  content: "";
  position: absolute;
  overflow: hidden;
  height: 100%;
  top: 30px;
  left: 90px;
  border: 2px solid #a6bea6;
  border-radius: 10px;
}

ul.CardList {
  padding: 20px 0;
}

ul.CardList li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: #a6bea6;
  margin: 0 calc(50%);
  padding-top: 50px;
}

ul.CardList li::after {
  background: #a6bea6;
  border: 5px solid #a6bea6;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 50%;
}

ul.CardList li.hover::after {
  background: #ffeed0;
  border: 4px solid #a6bea6;
  transform: translateX(-50%);
  transition: 0.250s ease-in-out
  border 0.5s ease-in-out;
}

ul.CardList li div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: #a6bea6;
}

ul.CardList li:nth-child(even) div {
  left: 45px;
}

ul.CardList li:nth-child(odd) div {
  left: -545px;
}

time {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--rubik);
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

li.CardItem p {
  color: #ffffff;
  font-weight: 300;
  font-family: var(--rubik);
  font-size: 17.5px;
}

img.HideImg {
  visibility: hidden;
  height: 0;
  width: 0;
}

img.ShowImg {
  visibility: visible;
  height: 50%;
  width: 70%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

ul.CardList li div {
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease-in-out;
}

li.CardItem div span.CardFrame {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
}

span.CardFrame span.CardFrameItem {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2.5px 5px 2.5px 5px;
  width: fit-content;
  text-transform: uppercase;
}

ul.CardList li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul.CardList li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul.CardList li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  ul.CardList li div {
    width: 300px;
  }
  ul.CardList li:nth-child(odd) div {
    left: -340px;
  }
}
@media screen and (max-width: 700px) {
  ul.CardList li {
    margin: 0 18%;
  }

  ul.CardList li:nth-child(odd) div {
    width: 72vw;
    transform: translate3d(362px, 0, 0);
  }

  ul.CardList li:nth-child(even) div {
    width: 72vw;
    transform: translate3d(-23px, 0, 0);
  }

  div.PersonalContainer {
    height: 1520px;
  }

  div.Project-title h1 {
    font-size: 60px;
    left: -120px;
  }

  div.Project-title div {
    display: none;
    left: 75px;
  }

  .Project-title h1.bottom {
    top: 1320px;
    left:-120px;
  }

  div h1.bottom.show {
    top: 2090px;
  }

  div.Project-title h1.is-sticky {
    left: -120px;
  }
}