*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin-top: 0px;
}

/* Personal Projects */
.PersonalContainer {
  /* background: linear-gradient(var(--blue-bg), #a0a4b9, var(--blue-bg)); */
  background-color: #ffffff;
  height: fit-content;
  position: relative;
  width: 100%;
}

#Projects {
  position: absolute;
  top: -75px;
}

div.Project-title h1 {
  position: absolute;
  color: #a6bea6;
  top: 150px;
  left: -130px;
  height: fit-content;
  width: fit-content;
  transform: rotate(-90deg);
  margin-top: 0;
  opacity: 1;
}

div.Project-title h1.is-sticky {
  position: fixed;
  top: 220px;
  left: -130px;
  opacity: 1;
  animation: 600ms ease-in-out 0s normal none 1 running;
  z-index: 10;
}
div.Project-title div {
  content: "";
  position: absolute;
  height: 950px;
  top: 30px;
  left: 90px;
  /* transform: rotate(90deg); */
  border: 2px solid #a6bea6;
  border-radius: 10px;
}

ul.CardList {
  padding: 20px 0;
}

ul.CardList li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: #a6bea6;
  margin: 0 calc(50%);
  padding-top: 50px;
}

ul.CardList li::after {
  background: #a6bea6;
  border: 5px solid #a6bea6;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 50%;
}

ul.CardList li.hover::after {
  background: rgb(217, 255, 0);
  border: 4px solid #a6bea6;
  transform: translateX(-50%);
  transition: 0.250s ease-in-out
  border 0.5s ease-in-out;
}

ul.CardList li div{
  position: relative;
  width: 450px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: #a6bea6;
}

ul.CardList li:nth-child(even) div {
  left: 45px;
}

ul.CardList li:nth-child(odd) div {
  left: -545px;
}

time {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--rubik);
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

li.CardItem p {
  color: #ffffff;
  font-weight: 300;
  font-family: var(--rubik);
  font-size: 17.5px;
}

img.HideImg {
  visibility: hidden;
  height: 0;
  width: 0;
}

img.ShowImg {
  visibility: visible;
  height: 10%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

ul.CardList li div {
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease-in-out;
}

ul.CardList li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul.CardList li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul.CardList li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  ul.CardList li div {
    width: 250px;
  }
  ul.CardList li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}