@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Righteous&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', 'Permanent Marker', 'Righteous', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
