body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-family: 'Rubik Mono One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: black;
}

:root {
  --rubik-mono: 'Rubik Mono One';
  --rubik: 'Rubik';
  --main-bg: #ffffff;
  --project-bg: #a6bea6;
  --header-bg: #191919;
}